<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/camisetass.css">
</head>
<body>
    <header>
        <h1>AROUND SPACE</h1>
    </header>

<section class="cajaMadre">

    <section class="cajaHija">
        <section class="subCaja">
            
            <p>$2000</p>
            <button type="submit">comprar</button>
        </section>

    </section>

</body>
</html>