<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styless.css">
</head>

<body>
    <header>
        <h1>
            CLOTHES STORE
        </h1>
    </header>

    <main>
        <a href="#">START</a>
        <a href="#">Know us</a>
        <a href="#">Contact us</a>
        <a href="#">MENU</a>
    </main>

    <section class="redes">
        Redes sociales
    </section>
            <section class="bienvenido">
              <img src="../img/mujer.jpg" alt=""> 
              <h2>Welcome to the New Store</h2>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi, perferendis iure incidunt alias
                  repellendus aliquam impedit rerum ex illo, non assumenda odio ducimus dolor saepe expedita eveniet
                  error ut.</p>
            </section>


                        <section class="inicio">
                            <h4>Start section</h4>
                            <input type="text">
                            <input type="text">
                            <input type="submit">
                        </section>

            <section class="cajas">

                <section class="imagen1">
                    
                </section>
                <section class="imagen2">
                    
                </section>
                <section class="imagen3">
                    
                </section>
               

            </section>
</body>

<footer>
    footer
</footer>

</html>